<template>
    <div>
        <div v-if="success">
            <img
                src="https://getavataaars.com/?accessoriesType=Prescription02&avatarStyle=Circle&clotheColor=Gray01&clotheType=BlazerShirt&eyeType=Default&eyebrowType=RaisedExcitedNatural&facialHairColor=Auburn&facialHairType=BeardLight&graphicType=Diamond&hairColor=SilverGray&hatColor=PastelOrange&mouthType=Disbelief&skinColor=DarkBrown&topType=ShortHairShortRound"
            />
                
            <p> 
                <label for="email">E-mail: {{ email }} </label> 
            </p>
            <p> 
                <label for="email">Username: {{ username }} </label>    
            </p>
            
        </div>
        <div v-else>
            <p v-for="error in errors" :key="error">{{ error }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                email: "",
                username: "",
                errors: [],
                success: false,
            }
        },
        async fetch(){
            const jwt = "Bearer " + this.$store.state.token
            this.$axios.setHeader('Authorization', jwt, ['get'])
            const id = this.$route.params.id
            try {
                const dados = await this.$axios.get(`/600/users/${id}`)
                if(dados.status !== 304) {
                    this.success = true
                    this.email = dados.data.email
                    this.username = dados.data.username
                }else if(dados.status === 403){
                    this.errors.push("Private resource access: entity must have a reference to the owner id")
                    await this.$router.push({ path: `/` })
                }else if(dados.status === 401){
                    this.errors.push("Cannot read property 'id' of undefined")
                    await this.$router.push({ path: `/` })
                }
            }catch(e){
                this.errors.push(e)
                await this.$router.push({ path: `/` })
            }
        },
    }
</script>