<template>
    <div>
        <div class="errors">
            <li v-if="emptyEmail"> Por favor, preencha o email</li>
            <li v-if="emptyPassword"> Por favor, preencha a senha</li>
            <li v-if="invalidEmail"> Por favor, utilize um email válido como user@mail.com</li>
            <li v-if="invalidPassword"> Por favor, utilize uma senha com mais de 8 caracteres</li>
            <li v-if="response"> Verifique seu login e senha por favor</li>
        </div>
        <p>
            <label for="email"> Email: </label>
            <input id="email" v-model="email" type="text" name="email" :validation="validateEmail">     
        </p>
        <p>
            <label for="password"> Senha: </label>
            <input id="password" v-model="password" type="password" name="password" :validation="validatePassword">
        </p>
        <div>
            <button @click="clear">Clear</button>
            <button @click="login">Sign-in</button>
        </div>
        <div>
            <p>Not an user yet? &nbsp;<a href="/sign-up">Sign-up now!</a> </p>
        </div>
    </div>
</template>

<script>

    export default {
        data: () => {
            return {
                email: '',
                password: '',
                emptyEmail: false,
                emptyPassword: false,
                invalidEmail: false,
                invalidPassword: false,
                response: false
            }
        },
        methods:{
            validateInputs() {
                return (
                    this.validateEmail &&
                    this.validatePassword
                )
            },
            validateEmail() {
                const regexp = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; 

                if (this.email.length === 0) {
                    this.emptyEmail = true;
                } else if (!regexp.test(String(this.email.toLowerCase()))) {
                    this.invalidEmail = true;
                }
                else {
                    this.emptyEmail = false;
                    this.invalidEmail = false;
                    return true;
                }
            },
            validatePassword() {
                const regexp = /^[a-z0-9]{8,32}$/i

                if (this.password.length === 0) {
                    this.emptyPassword = true;
                } else if (!regexp.test(this.password)) {
                    this.invalidPassword = true;
                } else {
                    this.emptyPassword = false;
                    this.invalidPassword = false;
                    return true;
                }
            },
            clear(){
                this.email = ''
                this.password = ''
            },
            login(){
                if (this.validateInputs())
                {
                    const data = {
                        email: this.email,
                        password: this.password,
                    }
                    this.$axios.post('/login', data)
                        .then(response => {
                            this.$store.commit('token', response.data.accessToken);
                            const tokenInfo = JSON.parse(window.atob(response.data.accessToken.split('.')[1]));
                            this.$router.push({ path: `/users/${tokenInfo.sub}`})
                        })
                        .catch(err => {
                            console.log(err)
                            // if(err.response.status) this.response = true
                        }) 
                }
            }
        }
    }
</script>