<template>
   <div class='container'>
        <div class="errors">
            <li v-if="emptyEmail"> Por favor, preencha o email</li>
            <li v-if="emptyPassword"> Por favor, preencha a senha</li>
            <li v-if="emptyUsername"> Por favor, preencha o username</li>
            <li v-if="invalidEmail"> Por favor, utilize um email válido como user@mail.com</li>
            <li v-if="invalidPassword"> Por favor, utilize uma senha com mais de 8 caracteres</li>
            <li v-if="invalidUsername"> Por favor, utilize um username iniciando com letras</li>
            <li v-if="response"> Esse email já está cadastrado, verifique</li>
        </div>
        <p>
            <label for="email"> Email: </label>
            <input id="email" v-model="email" type="text" name="email" @input="validateEmail">     
        </p>
        <p>
            <label for="password"> Senha: </label>
            <input id="password" v-model="password" type="password" name="password" @input="validatePassword">
        </p>
        <p>
            <label for="username"> Nickname: </label>
            <input id="username" v-model="username" type="text" name="username" @input="validateUsername">
        </p>
        <div>
            <button @click="clear">Clear</button>
            <button @click="register">Sign-up</button>
        </div>
        <div>
            <p>Already an user? &nbsp;<a href="/sign-in">Sign-in now!</a> </p>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                email: '',
                password: '',
                username: '',
                emptyEmail: false,
                emptyPassword: false,
                emptyUsername: false,
                invalidEmail: false,
                invalidPassword: false,
                invalidUsername: false,
                response: false
                    
            }
        },
        methods:{ 
            validateInputs() {
                return (
                    this.validateEmail &&
                    this.validatePassword &&
                    this.validateUsername
                )
            },
            validateEmail() {
                const regexp = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; 

                if (this.email.length === 0) {
                    this.emptyEmail = true;
                } else if (!regexp.test(String(this.email.toLowerCase()))) {
                    this.invalidEmail = true;
                }
                else {
                    this.emptyEmail = false;
                    this.invalidEmail = false;
                    return true;
                }
            },
            validatePassword() {
                const regexp = /^[a-z0-9]{8,32}$/i

                if (this.password.length === 0) {
                    this.emptyPassword = true;
                } else if (!regexp.test(this.password)) {
                    this.invalidPassword = true;
                } else {
                    this.emptyPassword = false;
                    this.invalidPassword = false;
                    return true;
                }
            },
            validateUsername() {
                const regexp = /^[a-z]{1}[a-z0-9]*$/i

                if (this.username.length === 0) {
                    this.emptyUsername = true;
                } else if (!regexp.test(this.username)) {
                    this.invalidUsername = true;
                } else {
                    this.emptyUsername = false;
                    this.invalidUsername = false;
                    return true
                }
            },
            clear(){
                this.email = ''
                this.password = ''
                this.username = ''
            },
            register(){
                if (this.validateInputs())
                {
                    const data = {
                        email: this.email,
                        password: this.password,
                        username: this.username,
                    }
                    this.$axios.post('/register', data)
                        .then(response => {
                            this.$store.commit('token', response.data.accessToken);
                            const tokenInfo = JSON.parse(window.atob(response.data.accessToken.split('.')[1]));
                            this.$router.push(`users/${tokenInfo.sub}`)
                            
                        })
                        .catch(err => {
                            console.log(err)
                            // if(err.response.status) this.response = true
                        }) 
                }
            }
        }
    }
</script>